/* LES BASES */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");

/* noto typeface */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

/* karla typeface */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+JP:wght@900&display=swap');
html {
  overflow-x: hidden; }

:root {
  font-size: 20px;
  overflow-x: hidden; }

body {
  font-family: 'Playfair Display', serif;
  overflow-x: hidden; }
  body a {
    text-decoration: none;
    color: #2C2C2C; }

* {
  margin: 0;
  padding: 0; }




.hero{
    height:100vh;
    max-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* forestry font styles */

p { 
  font-family: 'Karla', sans-serif;
  color: #3a3a3a;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 0 0 20px 0;
}

h2 {
  font-family: 'Noto Serif JP', serif;
  color: #2C2C2C;
  font-size: 1.4rem;
  font-weight: 900;
  padding: 2rem 0 2rem 0;
}

h3 {
  font-family: 'Karla', sans-serif;
  color: #3a3a3a;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.4rem;
  padding: 0 0 20px 0;
}

blockquote p {
  font-family: 'IBM Plex Serif', serif;
  color: #3a3a3a;
  font-style: italic;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.4rem;
  padding: 0 3rem;
}

strong {
  font-family: 'IBM Plex Serif', serif;
  color: #2C2C2C;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.1rem;
}

/* end of forestry font style */

hr {
  height: 1px;
  width: 10%;
  background-color: #d4d4d4c9;
  margin: 4rem auto;
  border:none;
}

.project_title {
  font-family: 'Noto Serif JP', serif;
  color: dark;
  font-size: 2.8rem;
  font-weight: 900; }

.subtitle_bold {
  font-family: 'Geomanist', sans serif;
  color: #2C2C2C;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 0 0 2rem 0; }

.quote_italic {
  font-family: 'IBM Plex Serif', serif;
  color: #3a3a3a;
  font-style: italic;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.4rem;
  padding: 0 3rem; }

.courant_bold {
  font-family: 'IBM Plex Serif', serif;
  color: #2C2C2C;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.1rem; }

.courant_regular {
  font-family: 'Karla', sans-serif;
  color: #3a3a3a;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2rem; }

.courant_italic {
  font-family: 'Karla', sans-serif;
  color: #3a3a3a;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2rem; }

.footer_italic {
  font-family: 'IBM Plex Serif', serif;
  color: #3a3a3a;
  font-style: italic;
  font-size: 1rem;
  font-weight: 400; }

.caption {
  font-family: 'Geomanist', sans serif;
  color: #9397A5;
  font-size: 1rem;
  font-weight: 400; }

.highlight {
  font-family: 'IBM Plex Serif', serif;
  color: #2C2C2C;
  font-weight: 800; }

.center {
  text-align: center; }

.opacity_50 {
  opacity: 0.5; }

/* LAYOUT */
.margin-body {
  padding: 4rem 0 3rem 0; }

.hidden {
  display: none; }

.center {
  text-align: center; }

.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fixed_header {
  padding: 1.5rem 0;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.blank {
  height: 1px;
  padding: 1.5rem 0; }

.bg-grey {
  background-color: #FAFAFA; }

.bg-white {
  background-color: #FFFFFF; }

.intro {
  background-color: #FAFAFA;
  margin: 20vh 0 0 0;
  padding: 0rem 28vw 10rem 28vw; }
  .intro .project_title {
    margin: 0 0 1rem 0; }
  .intro h2 {
    padding: 5rem 0 0 0; }

.scroll {
  padding: 3rem 28vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  .scroll img {
    opacity: 0.4; }
  .scroll h5 {
    font-size: 0.9rem; }

/* Main */
main {
  margin: 10rem 28vw;
  /* homepage */ }
  main .case_studies .courant_italic {
    font-size: 1.4rem;
    line-height: 2.1rem; }
  main .main_projects .courant_italic {
    font-size: 1.2rem;
    line-height: 1.8rem; }
  main .main_projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main .projects_section {
    margin: 0px 0 5rem 0; }
    main .projects_section .card_project {
      -webkit-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease; }
      main .projects_section .card_project .image_container img {
        width: 100%;
        border-radius: 3px; }
      main .projects_section .card_project .description {
        margin: 1rem 0 0 0; }
    main .projects_section .card_project:hover {
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px);
      -webkit-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease; }
    main .projects_section .margin_right {
      margin: 0 2rem 0 0; }
  main .grid-col2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem; }
    main .grid-col2 .card_project {
      margin: 0 0 2rem 0; }
  main .grid-col3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem 0rem; }
    main .grid-col3 .card_project {
      margin: 0 0 2rem 0; }
  main .main_projects .margin_right {
    margin: 0 2rem 0 0; }

/* project page */
.project_page {
  margin: 10rem 28vw; }
  .project_page .sumup .project_title {
    padding: 0 4rem; }
  .project_page .sumup .date {
    margin: 1rem 0; }
  .project_page img {
    width: 100%;
    margin: 2rem 0; }
  .project_page .separator {
    height: 1px;
    width: 10%;
    background-color: #d4d4d4c9;
    margin: 4rem auto; }
  .project_page .content .image_content {
    margin: 3rem 0; }

/* Footer */
.footer {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10rem 28vw 0 28vw; }
  .footer .contact .project_title {
    margin: 0 0 1rem 0; }
  .footer .contact .resume_link {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-style: italic; }
    .footer .contact .resume_link img {
      margin: 0.3rem 0 0 0.5rem;
      -ms-flex-line-pack: center;
      align-content: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
  .footer .social_media {
    margin: 50px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 40%; }

.credit {
  padding: 2rem 0;
  margin: 6rem 0 0 0; }

/* RESPONSIVE */
/* Mobile */
@media screen and (max-width: 500px) {
  :root {
    font-size: 14px; }
  .project_title {
    font-size: 2rem; }
  .quote_italic {
    padding: 0rem; }
  .footer {
    padding: 10rem 3rem 0 3rem; }
  .intro {
    padding: 2rem 3rem 2rem 3rem; }
  .scroll {
    padding: 6rem 3rem 4rem 3rem; }
  main {
    margin: 0 3rem; }
    main .project_page {
      margin: 10rem 3rem; }
    main .grid-col2 {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-gap: 3rem; }
      main .grid-col2 .card_project {
        margin: 0 0 2rem 0; }
    main .grid-col3 {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-gap: 5rem 0rem; }
  .footer .social_media {
    width: 80%; }
  .project_page {
    margin: 8rem 3rem; }
    .project_page .sumup .project_title {
      padding: 0; } }

/* Tablet */
@media screen and (min-width: 500px) and (max-width: 1200px) {
  :root {
    font-size: 14px; }
  .intro {
    padding: 0rem 22vw 10rem 22vw; }
  .scroll {
    padding: 6rem 22vw; }
  main {
    margin: 6rem 22vw; }
    main .grid-col2 {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem; }
      main .grid-col2 .card_project {
        margin: 0 0 2rem 0; }
    main .grid-col3 {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5rem 0rem; }
  .project_page {
    margin: 10rem 22vw; }
    .project_page .sumup .project_title {
      padding: 0; }
  .footer {
    padding: 10rem 22vw 0 22vw; }
  .footer .social_media {
    width: 80%; } }

/* Macbook */
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  :root {
    font-size: 16px; }
  .intro {
    padding: 0rem 26vw 10rem 26vw; }
  .scroll {
    padding: 3rem 26vw; }
  main {
    margin: 4rem 26vw 10rem 26vw; }
  .project_page {
    margin: 10rem 26vw; }
  .footer {
    padding: 10rem 26vw 0 26vw; } }
